@import "_variables.css";
@import "_layout.css";
@import "_components.css";

.progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 1000;
}

.progress-bar {
    height: 100%;
    background-color: #42a5f5; /* Light Blue */
    width: 0%;
}